

@font-face {
  font-family: 'montserratblack';
  src: url('./fonts/montserrat-black-webfont.woff2') format('woff2'),
       url('./fonts/montserrat-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'montserratbold';
  src: url('./fonts/montserrat-bold-webfont.woff2') format('woff2'),
       url('./fonts/montserrat-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'montserratextrabold';
  src: url('./fonts/montserrat-extrabold-webfont.woff2') format('woff2'),
       url('./fonts/montserrat-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'montserratmedium';
  src: url('./fonts/montserrat-medium-webfont.woff2') format('woff2'),
       url('./fonts/montserrat-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'montserratregular';
  src: url('./fonts/montserrat-regular-webfont.woff2') format('woff2'),
       url('./fonts/montserrat-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'montserratsemibold';
  src: url('./fonts/montserrat-semibold-webfont.woff2') format('woff2'),
       url('./fonts/montserrat-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'aber_monobold';
  src: url('./fonts/aber-mono-bold-webfont.woff2') format('woff2'),
       url('./fonts/aber-mono-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'aber_monolight';
  src: url('./fonts/aber-mono-light-webfont.woff2') format('woff2'),
       url('./fonts/aber-mono-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'aber_monoregular';
  src: url('./fonts/aber-mono-regular-webfont.woff2') format('woff2'),
       url('./fonts/aber-mono-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}





*{
  box-sizing: border-box;
}
body{
  margin-left: 10px
}
button{
  padding: 10px 25px;
  font-size: 15px;
  border-radius: 10px;
  background-color: #677478;
  cursor: pointer;
}
body{
  background-color: #23252C;
  padding: 30px 0px;
}
.card{
  height: 780px;
  width: 317px;
 background-color: #1A1B21;
 border-radius: 10px;

  margin: 0 auto;
  box-shadow: 0px 4px 7px;
}
.profilepicture{
  width: 100%;
  height: 317px;
  background-image: url(./images/happy-man.jpg);
  background-size: 100%;
  border-radius: 10px 10px 0px 0px;
}
header{
  text-align: center;
}
.details > h2{
  color: #FFFFFF;
  font-size: 25px;
  font-family: 'aber_monolight';
}
.detailPara{
  color: #F3BF99;
  font-size: 12.8px;
  margin-top: -15px;
}
.detailPara2{
  color: #F5F5F5;
  font-size: 10.25px;
}
.btndiv{
  padding-top: 5px;
}
.btn{
  border: none;
  border-radius: 5px;
  font-size: 14px;
}
.email-icon{
 width: 16px;
 height: 16px;
 margin-bottom: -3px;
 
}
.link-icon{
  width: 16px;
  height: 16px;
  margin-bottom: -3px;
}
.link{
  background-color: #5093E2;
  color: #FFFFFF;
  padding: 10px 20px;
  margin-left: 23px;
}
.link:hover{
  background-color: #374151;
}
.email{
  color: #374151;
  padding: 10px 30px;
}
.email:hover{
  background-color: #374151;
  color: #ffffff;
}
section{
  margin-top: 10px;
}
.about-h1{
  font-size: 18px;
  font-weight: bold;
  color: #F5F5F5;
  padding-left: 37px;
  margin-bottom: -5px;
}
.about-para{
  font-size: 11.5px;
  padding: 0px 23px 0px 37px;
  color: #DCDCDC;
  line-height: 16.5px;
}
footer{
  background-color: #161619;
  padding: 17px;
  border-radius: 10px;
  text-align: center;
  margin-top: 25px;
}
footer img{
  height: 25px;
  padding-right: 25px;
}
.twitter{
  padding-left: 30px;
}
.star--img{
  width: 16px;
  margin-bottom: -4px;
  border-radius: 50%;
}
.box{
  height: 100px;
  width: 100px;
  border: 1px solid lightseagreen;
 
  display: inline-block;
  margin-right: 2px;
  border-radius: 5px;
}